.admin {
    
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
    /* background-color: red; */
    
    margin: 10px auto;
}

div > h3 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 18px;
    text-decoration: underline;
}
.status-container {
    width: 200px;
    margin-bottom: 20px;
    margin: 10px 10px;
}

.status-container > div > button {
    background-color: rgb(200, 200, 255);
    border: 0px solid white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 2px 2px rgb(190, 190, 190);
    margin-left: 5px;
    
}

.status-container > div > h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    

}

select {
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    
}

.status-container >  div {
    
    width: 230px;
    border-radius: 5px;
    margin-bottom: 25px;
    
}

.admin-sorter {
    display: flex;
    height:auto;
    min-height: 430px;
    width: 97%;
    padding: 10px;  
    border: grey 1px solid;
    border-radius: 8px;
    background-color: ivory;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 01);
    margin-top: 20px;
}

@media (max-width: 632px) {
    .admin {
        flex-direction: column;
        justify-content: center;
    }
    .status-container {
        margin: 10px auto;
    }
    
}

@media (max-width: 500px) {
    .account-email {
        font-size: 18px;
    }
}