.admin {
    position: absolute;
    top: 200px;
    left: 200px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    /* background-color: red; */
    margin: 10px auto;
}

div > h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
}