.nominationComponent{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 18px;
}

.nominationInputs{
    height: 70%;
    width: 80%;
    background-color: cadetblue;
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
}

input{
    width:99.3%;
    Height:20px;
}

.whyTheyDeserve{
    width:99.3%;
    height:100px;
}

/* .submitButton{
} */