
.myAccountComponent{
    height: 100%;
    width: 100vw;
}

.myAccountContent{
    height: fit-content;
    min-height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accountInfo{
    height: auto;
    min-height: 60vh;
    width: 80%;
    background-color: rgb(177, 175, 175);
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border: grey 2px solid;
    border-radius: 2px;

}

.profileInfo{
    height:auto;
    min-height: 130px;
    width: 99.5%;
    background-color: ivory;
    margin-bottom: 20px;
    border: grey 2px solid;
    border-radius: 2px;
    
}

.statusAndHistory{
    height:auto;
    min-height: 430px;
    width: 99.5%;
    border: grey 2px solid;
    border-radius: 2px;
    background-color: ivory;
}