.myAccountComponent{
    height: 100%;
    width: 100vw;
    background-color: #f0d374;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.myAccountContent{
    height: fit-content;
    min-height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.accountInfo{
    height: auto;
    min-height: 60vh;
    width: 80%;
    background-color: #003049;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border: grey 1px solid;
    border-radius: 8px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 01);
}

.profileInfo{
    height:auto;
    min-height: 130px;
    width: 97%;
    padding: 10px;  
    background-color: ivory;
    margin-bottom: 20px;
    border: grey 1px solid;
    border-radius: 8px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 01);  
    display: flex;
    flex-direction: row;
}

.statusAndHistory{
    height:auto;
    min-height: 430px;
    width: 97%;
    padding: 10px;  
    border: grey 1px solid;
    border-radius: 8px;
    background-color: ivory;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 01);
}


.profileInfoContent{
    min-width: 170px;
    width: auto;
    height: 170px;
    margin-left: 10px;
    font-size: 30px;
}

.myAccountProfileImage{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 8px;
    image-rendering: auto;
}